/*Home*/
/*title font import*/
@import url(//db.onlinewebfonts.com/c/31ed0189fe1ff1e740a652e0f75b77dc?family=Snell+Roundhand);

@font-face {font-family: "Snell Roundhand"; src: url("//db.onlinewebfonts.com/t/31ed0189fe1ff1e740a652e0f75b77dc.eot"); src: url("//db.onlinewebfonts.com/t/31ed0189fe1ff1e740a652e0f75b77dc.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/31ed0189fe1ff1e740a652e0f75b77dc.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/31ed0189fe1ff1e740a652e0f75b77dc.woff") format("woff"), url("//db.onlinewebfonts.com/t/31ed0189fe1ff1e740a652e0f75b77dc.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/31ed0189fe1ff1e740a652e0f75b77dc.svg#Snell Roundhand") format("svg"); }

h1{
  font-family: "Snell Roundhand";
  font-weight: bold;
}
h6{
  color:#b4b4b4;
}

.titleHeading{
  margin:5%;
  padding-top:25px;
  padding-bottom:15px;
}

section{
  margin-left:6%;
  margin-right:6%;
}

.navigation{
  margin-top:4%;
  margin-bottom:4%;

}
.nav-item{
  margin-left: 3.5%;
  margin-right: 3.5%;
}

.bt{
  letter-spacing: 3px;
}
img{
  width:100%;
  height:100%;
}
.titleName{
  text-align: center;
}
/* Container needed to position the button. Adjust the width as needed */
.top {
  position: relative;
}

/* Make the image responsive */
.top img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.top .bt {
  position: absolute;
  top: 60%;
  left: 21.5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  color: #b4b4b4;
  font-size: 28px;
  padding: 9px 90px;
  border: 2px solid #b4b4b4;
  cursor: pointer;
  border-radius: 5px;
}

.top .bt:hover {
  background-color: black;
}

/* Container needed to position the button. Adjust the width as needed */

.bottom{
  width: 65%;
  margin-top:6%;
  margin-bottom:6%;
}

.comp {
  position: relative;
  vertical-align: bottom;
}

/* Make the image responsive */
.comp img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.comp .bt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  color: white;
  font-size: 25px;
  padding: 12px 24px;
  border: 2px solid white;;
  cursor: pointer;
  border-radius: 5px;
}

.comp .bt:hover {
  background-color: black;
}

.graphics {
  position: relative;
  vertical-align: bottom;
}

/* Make the image responsive */
.graphics img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.graphics .bt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  color: white;
  font-size: 25px;
  padding: 12px 24px;
  border: 2px solid white;;
  cursor: pointer;
  border-radius: 5px;
}

.graphics .bt:hover {
  background-color: black;
}

.btw{
  width:70%;
}

footer{
  text-align: center;
  padding-top:12px;
  padding-bottom:10px;
  background-color: #242424;
  font-size: 16px;

  color:grey;
}

/*Interior Design*/
.blackBar{

  height:70px;
  background-color: #21201e;
  margin-left: 50px;
  margin-right: 50px;
}

#t02{
  border-collapse: separate;
  border-spacing: 50px;
  display:inline-table;
}
.intB{
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 16pt;
  font-weight:normal;
}

#homeP{
  display:block;

}
#interP{
  display:none;

}
